<div class="uk-container">

  <div style="overflow: hidden;">
    <div class="uk-card-media-top uk-width-1-1"
         style="font-color: white; filter: blur(2px) brightness(.2); background: url('../assets/dummy-fault-movie.jpg') center center / cover no-repeat;height: 324px;">
    </div>
  </div>

  <div uk-grid>
    <div class="uk-width-1-2">
      <div class="titleBox uk-width-3-5">
        <p uk-icon="icon: tag"></p>{{ event.category[0] | uppercase }}
        <br>
        <div>
          {{ event.title }}
        </div>
        <div uk-grid>
          <div class="uk-width-1-3">
            <p uk-icon="icon: location"></p> {{ event.address[0].location_name }}
            <div class="uk-text-small">
              {{ event.address[0].location_street }}
              <br>
              {{ event.address[0].location_zip }}
              {{ event.address[0].location_city }}
            </div>
          </div>
          <div class="uk-width-1-3">
            <p uk-icon="icon: clock"></p>
            <div class="uk-text-small">
              {{event.showtime[0].start | date:'E d.MM hh:mm'}} - {{event.showtime[0].end | date:'E d.MM hh:mm'}}
            </div>
          </div>
          <div class="uk-width-1-3">
            <p uk-icon="icon: cart"></p>
            <div class="uk-text-small" *ngFor="let p of event.pricing;">
              <div *ngFor="let item of p | keyvalue">
                {{item.key}}:{{item.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-width-1-2">
      <div class="imgBox">
        <img src="{{event.image_banner}}">
      </div>
    </div>
  </div>

  <div class="uk-container uk-width-1-1">
    <ul>
      Teilen:
      <a uk-icon="icon: facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://ausgehfuchs.de/event/{{ event.id }}"></a>
      <a uk-icon="icon: twitter" href="https://twitter.com/home?status=http://ausgehfuchs.de/event/{{ event.id }}"></a>
      <a uk-icon="icon: mail" href="mailto:mailto:?subject=&body=http://ausgehfuchs.de/event/{{ event.id }}"></a>
    </ul>
  </div>
  <div uk-grid>
    <div class="infobox uk-width-1-2">
      {{ event.description }}
    </div>

    <div class="infoBox uk-width-1-2">
      <div class="uk-background-muted">
        Anfahrt
        <a class="uk-button uk-button-default uk-margin-small-top uk-margin-small-bottom uk-width-1-1"
           href="tel:0228555555">
            <span
              style="color:rgb(51, 122, 183); font-weight:400; font-size: 14px;">Taxi Bonn EG Rufnummer 0228555555</span>
        </a>

        <form class="uk-margin-small-top" target="_blank" action="https://maps.google.de" method="get">
          <div class="uk-grid-small uk-grid" uk-grid="">
            <div class="uk-width-expand uk-first-column">
              <input type="hidden" name="daddr" value="Am Hofgarten 21 53113 Bonn">
              <input type="hidden" name="om" value="1">
              <input type="text" class="uk-input" name="saddr" placeholder="Startadresse">
            </div>
            <div class="uk-width-auto">
              <div class="uk-width-1-2 uk-width-1-5@m uk-text-center">
                <button class="uk-button uk-button-default" type="submit">Navigieren</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="uk-container uk-width-1-1">
      <ul>
        Teilen:
        <a uk-icon="icon: facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
        <a uk-icon="icon: twitter" href="https://twitter.com/home?status=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
        <a uk-icon="icon: mail" href="mailto:mailto:?subject=&body=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
      </ul>
    </div>

  </div>
  <hr>
</div>

<div class="uk-container">
  <agm-map [latitude]="event.address[0].gmaps_latitude" [longitude]="event.address[0].gmaps_longitutde" [styles]="styles">
    <agm-marker [latitude]="event.address[0].gmaps_latitude" [longitude]="event.address[0].gmaps_longitutde"></agm-marker>
  </agm-map>
</div>

