<div uk-grid="masonry: true">
  <div class="uk-card uk-card-default uk-width-1-3" *ngFor="let event of events;">
    <div class="uk-card-media-top">
      <img src="../assets/dummy-fault-movie.jpg">
    </div>
    <!-- <img ng-if="movie.trailer_youtube == null" ng-src="http://ausgehfuchs.de/storage/kinodaten/cinema-by-kilyan-sockalingum.jpg" class="md-card-image"> -->
    <div class="infobox">
      <p uk-icon="icon: tag"></p>{{ event.category[0] }}
      <br>
      <a>{{ event.title }}</a>

      <div *ngFor="let cinema of event.cinemas;">
        <p uk-icon="icon: location"></p>{{ cinema.name }}
        <div *ngFor="let showtime of cinema.showtimes;">
          {{ showtime | date:'E d.MM hh:mm'}}
        </div>
      </div>
    </div>
  </div>
</div>
