<h4>Movies</h4>
<div uk-grid="masonry: true">
  <div class="uk-card uk-card-default uk-width-1-2" *ngFor="let movie of movies;">
    <div class="eventBox">
      <img *ngIf="movie.id_youtube == ''" src="../assets/dummy-fault-movie.jpg">
      <div class="uk-card-media-top youtube" [style.background-image]="getYoutubeImage(movie.id_youtube)" *ngIf="movie.id_youtube != ''">
        <div  >
          <a class="play-button" href="#modal_{{movie.id_youtube}}" uk-toggle></a>
        </div>
      </div>

      <div class="infobox">
          <p uk-icon="icon: tag"></p>{{ movie.category | uppercase }}
          <br>
          <a  class="title" routerLink="/movie/{{movie.id}}">{{ movie.title }}</a>

          <div class="locationBox" *ngFor="let cinema of movie.cinemas;">
            <p uk-icon="icon: location"></p>{{ cinema.name }}
            <div *ngFor="let showtime of cinema.showtimes;">
              {{ showtime | date:'d.MM - hh:mm'}} Uhr
            </div>
          </div>
      </div>
    </div>

    <div id="modal_{{movie.id_youtube}}" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button (click)="closeYoutubeTrailer(movie.id_youtube)" class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe id="video_{{movie.id_youtube}}" [src]="getYoutubeVideoURL(movie.id_youtube)" width="560" height="300" frameborder="0"
                allow="autoplay"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"uk-video></iframe>
      </div>
    </div>

  </div>
</div>


