<button class="uk-button uk-button-default uk-width-1-3"><p uk-icon="icon: search"></p>Suche</button>
<button class="uk-button uk-button-default uk-width-1-3"><p uk-icon="icon: world"></p>Karte</button>
<button class="uk-button uk-button-default uk-width-1-3"><p uk-icon="icon: settings"></p>Filter</button>
<button class="uk-button uk-button-default uk-width-1-1">Aktive Filter</button>
<!--
<button class="uk-button uk-button-default"><p uk-icon="icon: calendar"></p>Zeitraum</button>
<button class="uk-button uk-button-default"><p uk-icon="icon: cart"></p>Preis</button>
<button class="uk-button uk-button-default"><p uk-icon="icon: tag"></p>Kategorie</button>

<div class="uk-width-1-5 uk-invisible-hover">
  Start:
  <angular2-date-picker [(ngModel)]="startDate" [settings]="settings"></angular2-date-picker>
    Ende:
    <angular2-date-picker [(ngModel)]="endDate" [settings]="settings"></angular2-date-picker>

</div>
<div class="uk-width-3-5">
  Preis
  <p>Kostenlos</p>
  <p>Bis 10€</p>
  <p>Über 10€</p>
</div>
-->
