<div class="uk-container footer">
  <div id="label-footer">
    <ul>
      <p>Folge uns:</p>
      <p>Für Veranstalter:</p>
      <p>Über uns:</p>
    </ul>
  </div>

  <div id="links-footer">
    <ul>
      <a uk-icon="icon: facebook"
         href="https://www.facebook.com/Ausgehfuchs-Bonn-Event-Party-Veranstaltungen-229729270946422/">Facebook</a> -
      <a uk-icon="icon: instagram" href="https://www.instagram.com/ausgehfuchs_bonn/">Instagram</a> -
      <a uk-icon="icon: mail" href="http://ausgehfuchs.de/newsletter">Newsletter</a>
    </ul>

    <ul>
      <a href="http://ausgehfuchs.de/dashboard/veranstaltung/neu">Events eintragen</a> -
      <a href="http://ausgehfuchs.de/preise-mediadaten">Mediadaten&Preise</a> -
      <a href="http://ausgehfuchs.de/registrieren">Registrieren</a> -
      <a href="http://ausgehfuchs.de/login">Login</a>
    </ul>

    <ul>
      <a href="http://ausgehfuchs.de/dashboard/veranstaltung/neu">Kontakt und Wir</a> -
      <a href="http://ausgehfuchs.de/dashboard/veranstaltung/neu">AGB und Datenschutz</a> -
      <a href="http://ausgehfuchs.de/nutzungsbedingungen">Nutzungsbedingungen</a> -
      <a href="http://ausgehfuchs.de/impressum">Impressum</a>
    </ul>

  </div>
</div>

