.uk-card, .uk-card-default, .uk-card-body {
  padding: 1% !important;
}

p, ul {
  margin-bottom: 1px !important;
  margin-top: 1px !important;
  font-variant-caps: all-petite-caps;
}

a {
  color: #333;
  font-variant-caps: all-petite-caps;
}


