.uk-card, .uk-card-default, .uk-card-body {
  padding: 1% !important;
}

#label-footer {
  float:left;
}
#links-footer {
  float:right;
}
#footer {
  float:inside;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
p, ul {
  margin-bottom: 1px !important;
  margin-top: 1px !important;
  font-variant-caps: all-petite-caps;
}

a {
  color: #333;
  font-variant-caps: all-petite-caps;
}
