<div class="uk-container">
  <div style="overflow: hidden;">
    <div class="uk-card-media-top uk-width-1-1"
         style="font-color: white; filter: blur(2px) brightness(.2); background: url('../assets/dummy-fault-movie.jpg') center center / cover no-repeat;height: 324px;">
    </div>
  </div>

  <div uk-grid>
    <div class="uk-width-1-2">
      <div class="titleBox uk-width-3-5">
        <p uk-icon="icon: tag"></p>{{ movie.category | uppercase }}
        <br>
        <p  id="title" uk-icon="icon: youtube">{{ movie.title }}</p>
        <br>

        <div uk-grid>
          <div class="uk-width-1-3 uk-text-small">
            Länge: {{ movie.backinfo[0].length }}
            {{ movie.backinfo[0].website_url }}
          </div>
          <div class="uk-width-1-3 uk-text-small">
            Regie: {{ movie.backinfo[0].regie }}
            Land: {{ movie.backinfo[0].country }}
            FSK:  {{ movie.backinfo[0].fsk }}
          </div>
          <div class="uk-width-1-3 uk-text-small">
            Schauspieler:
            <div *ngFor="let actor of movie.backinfo[0].actors;">
              {{ actor }}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="uk-width-1-2">
      <div class="imgBox">
        <iframe id="video_{{movie.id_youtube}}" [src]="getYoutubeVideoURL(movie.id_youtube)" width="560" height="300" frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"uk-video></iframe>
      </div>
    </div>
  </div>

    <div class="uk-container uk-width-1-1">
      <ul>
        Teilen:
        <a uk-icon="icon: facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
        <a uk-icon="icon: twitter" href="https://twitter.com/home?status=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
        <a uk-icon="icon: mail" href="mailto:mailto:?subject=&body=http://ausgehfuchs.de/movie/{{ movie.id }}"></a>
      </ul>
    </div>

    <div uk-grid>
      <div class="infobox uk-width-1-2">
        {{ movie.description }}
      </div>

      <div class="infobox uk-width-1-2">
        <div class="infoBox" *ngFor="let cinema of movie.cinemas;">
          <p uk-icon="icon: location"></p>{{ cinema.name }}
          <div *ngFor="let showtime of cinema.showtimes;">
            {{ showtime | date:'d.MM - hh:mm'}}
          </div>
        </div>
      </div>
    </div>
  <hr>
</div>

<div class="uk-container">
  <agm-map [latitude]="movie.cinemas[0].gmaps_latitude" [longitude]="movie.cinemas[0].gmaps_longitutde" [styles]="styles">
    <agm-marker [latitude]="cinema.gmaps_latitude" [longitude]="cinema.gmaps_longitutde" *ngFor="let cinema of movie.cinemas;"></agm-marker>
  </agm-map>
</div>
