/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

#header {
  max-height: 100px;
}

#logo {
  height: 45px;
}
a {
  color: #333;
}
agm-map {
  height: 300px;
}

.uk-card-default {
  box-shadow: unset;
}

.eventBox {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
